<div class="container">
    <div class="table-container">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Plastic</th>
                    <th>Speed</th>
                    <th>Glide</th>
                    <th>Turn</th>
                    <th>Fade</th>
                    <th>In bag?</th>

                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let disc of discList">
                <tr>
                    <td>{{disc.name}}</td>
                    <td>{{disc.type}}</td>
                    <td>{{disc.plastic}}</td>
                    <td>{{disc.speed}}</td>
                    <td>{{disc.glide}}</td>
                    <td>{{disc.turn}}</td>
                    <td>{{disc.fade}}</td>
                    <td *ngIf="disc.isInBag == false">
                        <fa-icon class="icon" [icon]="faCheck" (click)="addDiscInBag(disc)" size="2x"></fa-icon>
                    </td>
                    <td *ngIf="disc.isInBag == true">
                        <fa-icon class="icon" [icon]="faCross" (click)="removeDiscFromBag(disc)" size="2x"></fa-icon>
                    </td>
                    <td><fa-icon class="icon" [icon]="faTrashCan" size="2x" (click)="deleteDisc(disc.id)"></fa-icon></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>