<div class="container">
  <form [formGroup]="puttingPractiseForm" (ngSubmit)="addPuttingPractise()">
    
      <h3>Circle 1</h3>
      <p>C1 Short (3.3m)</p>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1ShortRadioOptions"
          id="inlineCircle1ShortRadio0"
          value="circle1ShortOption0"
          formControlName="inlineCircle1ShortRadioOptions"
        />
        0
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1ShortRadioOptions"
          id="inlineCircle1ShortRadio1"
          value="circle1ShortOption1"
          formControlName="inlineCircle1ShortRadioOptions"
        />
        1
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1ShortRadioOptions"
          id="inlineCircle1ShortRadio2"
          value="circle1ShortOption2"
          formControlName="inlineCircle1ShortRadioOptions"
        />
        2
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1ShortRadioOptions"
          id="inlineCircle1ShortRadio3"
          value="circle1ShortOption3"
          formControlName="inlineCircle1ShortRadioOptions"
        />
        3
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1ShortRadioOptions"
          id="inlineCircle1ShortRadio4"
          value="circle1ShortOption4"
          formControlName="inlineCircle1ShortRadioOptions"
        />
        4
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1ShortRadioOptions"
          id="inlineCircle1ShortRadio5"
          value="circle1ShortOption5"
          formControlName="inlineCircle1ShortRadioOptions"
        />
        5
      </label>
    
    
      <p>C1 Medium (6.7m)</p>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1MediumRadioOptions"
          id="inlineCircle1MediumRadio0"
          value="circle1MediumOption0"
        />
        0
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1MediumRadioOptions"
          id="inlineCircle1MediumRadio1"
          value="circle1MediumOption1"
        />
        1
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1MediumRadioOptions"
          id="inlineCircle1MediumRadio2"
          value="circle1MediumOption2"
        />
        2
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1MediumRadioOptions"
          id="inlineCircle1MediumRadio3"
          value="circle1MediumOption3"
        />
        3
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1MediumRadioOptions"
          id="inlineCircle1MediumRadio4"
          value="circle1MediumOption4"
        />
        4
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1MediumRadioOptions"
          id="inlineCircle1MediumRadio5"
          value="circle1MediumOption5"
        />
        5
      </label>
    
    <div class="form-group">
      <p>C1 Long (10m)</p>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1LongRadioOptions"
          id="inlineCircle1LongRadio0"
          value="circle1LongOption0"
        />
        0
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1LongRadioOptions"
          id="inlineCircle1LongRadio1"
          value="circle1LongOption1"
        />
        1
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1LongRadioOptions"
          id="inlineCircle1LongRadio2"
          value="circle1LongOption2"
        />
        2
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1LongRadioOptions"
          id="inlineCircle1LongRadio3"
          value="circle1LongOption3"
        />
        3
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1LongRadioOptions"
          id="inlineCircle1LongRadio4"
          value="circle1LongOption4"
        />
        4
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle1LongRadioOptions"
          id="inlineCircle1LongRadio5"
          value="circle1LongOption5"
        />
        5
      </label>
    </div>
    <div class="form-group">
      <h3>Circle 2</h3>
      <p>C2 Short (13.3m)</p>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2ShortRadioOptions"
          id="inlineCircle2ShortRadio0"
          value="circle2ShortOption0"
        />
        0
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2ShortRadioOptions"
          id="inlineCircle2ShortRadio1"
          value="circle2ShortOption1"
        />
        1
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2ShortRadioOptions"
          id="inlineCircle2ShortRadio2"
          value="circle2ShortOption2"
        />
        2
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2ShortRadioOptions"
          id="inlineCircle2ShortRadio3"
          value="circle2ShortOption3"
        />
        3
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2ShortRadioOptions"
          id="inlineCircle2ShortRadio4"
          value="circle2ShortOption4"
        />
        4
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2ShortRadioOptions"
          id="inlineCircle2ShortRadio5"
          value="circle2ShortOption5"
        />
        5
      </label>
    </div>
    <div class="form-group">
      <p>C1 Medium (16.7m)</p>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2MediumRadioOptions"
          id="inlineCircle2MediumRadio0"
          value="circle2MediumOption0"
        />
        0
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2MediumRadioOptions"
          id="inlineCircle2MediumRadio1"
          value="circle2MediumOption1"
        />
        1
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2MediumRadioOptions"
          id="inlineCircle2MediumRadio2"
          value="circle2MediumOption2"
        />
        2
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2MediumRadioOptions"
          id="inlineCircle2MediumRadio3"
          value="circle2MediumOption3"
        />
        3
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2MediumRadioOptions"
          id="inlineCircle2MediumRadio4"
          value="circle2MediumOption4"
        />
        4
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2MediumRadioOptions"
          id="inlineCircle2MediumRadio5"
          value="circle2MediumOption5"
        />
        5
      </label>
    </div>
    <div class="container form-group">
      <p>C2 Long (20m)</p>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2LongRadioOptions"
          id="inlineCircle2LongRadio0"
          value="circle2LongOption0"
        />
        0
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2LongRadioOptions"
          id="inlineCircle2LongRadio1"
          value="circle2LongOption1"
        />
        1
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2LongRadioOptions"
          id="inlineCircle2LongRadio2"
          value="circle2LongOption2"
        />
        2
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2LongRadioOptions"
          id="inlineCircle2LongRadio3"
          value="circle2LongOption3"
        />
        3
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2LongRadioOptions"
          id="inlineCircle2LongRadio4"
          value="circle2LongOption4"
        />
        4
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="inlineCircle2LongRadioOptions"
          id="inlineCircle2LongRadio5"
          value="circle2LongOption5"
        />
        5
      </label>
    </div>
    <div class="container">
      <button class="btn btn-outline-success" type="submit">Submit</button>
    </div>
  </form>
</div>