<div class="container">
    <h3 class="header-3">Add disc</h3>
    <form [formGroup]="addDiscForm" (ngSubmit)="addDisc()">
        <div class="row justify-content-md-center">
            <label>Enter disc name</label>
            <input type="text" name="name" formControlName="name">
        </div>
        <div class="row justify-content-md-center">
            <label>Enter disc type</label>
            <input type="text" name="type" formControlName="type">
        </div>
        <div class="row justify-content-md-center">
            <label>Enter disc plastic</label>
            <input type="text" name="plastic" formControlName="plastic">
        </div>
        <div class="row justify-content-md-center">
            <label>Enter disc speed</label>
            <input type="number" name="speed" formControlName="speed">
        </div>
        <div class="row justify-content-md-center">
            <label>Enter disc glide</label>
            <input type="number" name="glide" formControlName="glide">
        </div>
        <div class="row justify-content-md-center">
            <label>Enter disc turn</label>
            <input type="number" name="turn" formControlName="turn">
        </div>
        <div class="row justify-content-md-center">
            <label>Enter disc fade</label>
            <input type="number" name="fade" formControlName="fade">
        </div>

        <div class="row justify-content-md-center">
            <button class="btn btn-outline-success" type="submit">Add disc</button>
        </div>
    </form>
</div>

